include LICENSE
include *.txt
include *.rst
include *.yml
include *.desktop
recursive-include tests *
recursive-include docs *
recursive-include src *.desktop
recursive-include src *.jpg
recursive-include src *.plist
recursive-include src *.service
recursive-include src *.sh
recursive-include src *.yml
recursive-exclude tests .coverage
recursive-exclude tests .pytest_cache/**
recursive-exclude docs _*/**
recursive-exclude build *.pyc

