[Unit]
Description=Monitor peripherals and send signal for prudent action
Documentation=https://pradyparanjpe.gitlab.io/psprudence

[Service]
Type=simple
Environment="PYTHONPATH=___pythonpath___"
ExecStart=___python_exec___ -m psprudence

[Install]
WantedBy=graphical.target