[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Name=PSPrudence
GenericName=System health notifier
Exec=___python_exec___ -m psprudence
Comment=Monitor peripherals and send signal for prudent action
StartupNotify=false
X-GNOME-Autostart-Delay=10
Icon=___icon___